body {
  display: flex;
  flex-direction: column;
  min-height: 100vh !important;
  max-width: 100vw;
}

main {
  display: flex;
  /* min-height: 80vh;
  max-height: 95vh;
  overflow-y: scroll; */
  margin: auto 10px;
  margin-top: 60px;
  padding-top: auto;
  max-width: 100%;
  /* font-size: calc(10px + 1vmin); */
  font-size: 1.15rem;
  background-color: inherit;
}

.App {
  background-image: radial-gradient(rgb(247, 247, 247), white);
  display: flex;
  flex-flow: row wrap;
  min-height: 100vh;
}

.App > * {
  flex: 1 100%;
}

#Header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  background-color: rgb(150, 40, 170);
  color: white;
  border-bottom: solid black;
  position: fixed;
  align-self: flex-start;
  width: 100%;
  z-index: 99;
  max-height: 100%;
}

footer {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-end;
}

#Footer {
  color: black;
  background-color: #fcf4fe;
  width: 100%;
  margin: 0;
  padding: 10px;
  border-top: 1px solid lightgrey;
  font-size: 1rem;
}

#NotFound {
  width: 75%;
}

#HomePage {
  margin: auto;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  /* font-size: 1em; */
}

#AboutPage {
  padding: 0;
  max-width: 100vw;
  width: 90%;
  height: 100%;
}

#AboutPageNav {
  min-height: 83vh;
  height: 100%;
  max-height: 83vh;
  max-width: min-content;
  border-top: solid 1px grey;
  border-left: solid 1px grey;
  border-bottom: solid 1px gainsboro;
}

#AboutPageNavColumn {
  min-width: max-content;
  /* max-width: max-content; */
}

.content {
  max-height: 83vh;
  /* max-height: 88vh; */
  overflow-y: scroll;
  max-width: 100%;
  border-top: solid 1px grey;
  padding: 1rem;
}

.profile {
  width: 100%;
}

.tab {
  max-width: 100%;
}

.tab a:hover {
  background-color: purple;
  font-weight: bold;
  color: white;
}

.tab a {
  background-color: grey;
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid 1px gainsboro;
  border-left: 0;
  font-size: 1.1rem;
  padding: 10;
  max-width: 100%;
}

.tab.tab-selected a {
  color: black;
  font-weight: 700;
  font-size: 1.25rem;
  background-color: transparent;
  border: 0;
}

.skill-card {
  color: white;
  /* background-color: red !important; */
  font-size: 0.95rem;
  padding: 0.2rem;
  border: solid 0.5px !important;
  border-radius: 0;
  min-height: fit-content !important;
  width: 100%;
  height: 100%;
}

.skill-card span {
  word-break: keep-all !important;
}

/* .progress-bar {
  background-color: purple !important;
} */

#aboutSunbirdWeb {
  border: 0;
}

#OurStack {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.fa-css3 {
  color: #1680c0;
}
.fa-html5 {
  color: #e34f26;
}
.fa-aws {
  color: #ff9900;
}
.fa-react {
  color: #61dbfb;
}
.fa-js-square {
  color: #f7df1e;
}
.fa-bootstrap {
  color: #563d7c;
}

.caption {
  font-size: 0.85rem;
}

.description-card {
  padding: 10px;
  margin: 10px;
}

@media only screen and (max-width: 768px) {
  .tab a {
    height: fit-content;
  }

  .tab {
    max-height: fit-content;
  }

  .tab.tab-selected a {
    border: solid 1px grey;
  }

  #AboutPageNav {
    min-height: min-content;
    max-height: fit-content;
    border: 0;
    max-width: none;
  }

  #AboutPageNavColumn {
    min-width: 95% !important;
    max-width: none;
  }

  .content {
    border: 0;
    max-height: 100%;
    margin: 0;
    padding: 0;
  }

  .skill-card-col {
    min-width: 100% !important;
    max-width: 100% !important;
  }
}

@media only screen and (min-width: 2400px) {
  main {
    font-size: 1.5rem;
  }

  .caption {
    font-size: 1rem;
  }

  .main-description {
    font-size: 2rem;
    padding: 10%;
  }
}
