.HomePage {
    width: 75%;
    min-height: 80vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    font-size: 1em;
}

h1 {
    justify-self: center;
    align-self: center;
}

#aboutSunbirdWeb {
    font-size: inherit;
    background-color: #dcdada;
}